<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Segment</th>
      <th>Median Monetary</th>
      <th>Median Frequency</th>
      <th>Median Recency</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>293</th>
      <td>Frequentist</td>
      <td>100285.0</td>
      <td>225.5</td>
      <td>2710.948995</td>
    </tr>
    <tr>
      <th>544</th>
      <td>hibernating</td>
      <td>97891.0</td>
      <td>555.0</td>
      <td>5360.448995</td>
    </tr>
    <tr>
      <th>312</th>
      <td>potential loyal</td>
      <td>98046.5</td>
      <td>553.5</td>
      <td>3490.448995</td>
    </tr>
    <tr>
      <th>800</th>
      <td>champions</td>
      <td>51147.5</td>
      <td>239.5</td>
      <td>2099.448995</td>
    </tr>
    <tr>
      <th>878</th>
      <td>Loyal</td>
      <td>56932.5</td>
      <td>293.5</td>
      <td>2734.948995</td>
    </tr>
    <tr>
      <th>36</th>
      <td>can't loose</td>
      <td>70727.5</td>
      <td>318.5</td>
      <td>5349.948995</td>
    </tr>
    <tr>
      <th>185</th>
      <td>high spender</td>
      <td>90209.5</td>
      <td>574.0</td>
      <td>2803.948995</td>
    </tr>
    <tr>
      <th>334</th>
      <td>low spender</td>
      <td>152141.0</td>
      <td>682.0</td>
      <td>2662.448995</td>
    </tr>
    <tr>
      <th>330</th>
      <td>new customer</td>
      <td>110944.0</td>
      <td>669.0</td>
      <td>2100.448995</td>
    </tr>
    <tr>
      <th>395</th>
      <td>median customer</td>
      <td>73439.0</td>
      <td>638.0</td>
      <td>2769.448995</td>
    </tr>
    <tr>
      <th>485</th>
      <td>lost</td>
      <td>153616.0</td>
      <td>939.0</td>
      <td>5241.448995</td>
    </tr>
  </tbody>
</table>